body {
    font: 100%/1.5 system-ui, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* center everything horizontally */
    gap: 1em; /* spacing between container and map */
    min-height: 100vh;
}

.container {
    max-width: 80em;      
    width: 100%;
    margin: 0;  
    padding: 0 2em;        
    box-sizing: border-box;
}

h1, p {
    text-align: left; 
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    width: 100%;
}

header .time-filter {
    margin-left: auto;
}

/* label {
    margin-left: auto; 
    display: flex;
    flex-direction: row; 
    gap: 0.5em;
} */

.time-filter .top-row {
    display: flex;
    align-items: center;
    gap: 0.5em; 
}

.time-filter time {
    display: block;
    text-align: right;
}
  
.time-filter em {
    display: block; 
    color: #888;
    font-style: italic;
    text-align: right;
}

#time-slider {
    width: 350px;
}
