body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 4em;
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-left: auto;
}

/* label {
    margin-left: auto; 
    display: flex;
    flex-direction: row; 
    gap: 0.5em;
} */

.time-filter .top-row {
    display: flex;
    align-items: center;
    gap: 0.5em; 
}

.time-filter time {
    display: block;
}
  
.time-filter em {
    display: block; 
    color: #888;
    font-style: italic;
}