body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 80em;
    width: 100%;
    margin-inline: auto;
    flex-wrap: wrap;
    gap: 3em;
}

h1, p {
    text-align: left; 
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    width: 100%;
}

header .time-filter {
    margin-left: auto;
}

/* label {
    margin-left: auto; 
    display: flex;
    flex-direction: row; 
    gap: 0.5em;
} */

.time-filter .top-row {
    display: flex;
    align-items: center;
    gap: 0.5em; 
}

.time-filter time {
    display: block;
    text-align: right;
}
  
.time-filter em {
    display: block; 
    color: #888;
    font-style: italic;
    text-align: right;
}

#time-slider {
    width: 350px;
}
