html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.map-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80em;      
    width: 100%;
    margin: 0;  
    padding: 0 2em;        
    box-sizing: border-box;
    height: 100%;
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

svg circle {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
    );
    fill: var(--color);     
    stroke: white;
    pointer-events: auto;
    stroke-width: 1;
    opacity: 0.8;
}

:root, #map circle, .legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
}

.legend {
    display: flex;
    gap: 1px; 
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 4px 6px;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 12px;
}

.legend > div {
    width: 100px;     
    height: 30px;     
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    color: white;   
    background: var(--color); 
}
